/* Variable Colors*/
:root{
    --color-black:#202124;
    --color-dark-grey:#343638;
    --color-medium-grey:#A6ADB4;
    --color-light-grey:#CBD0D3;
    --color-background:#F6F8F9;
    --color-white: #ffffff;
    --color-blue:#72ACFF;
    --color-green:#52E5BA;
    --color-orange:#FFC96C;
    --color-pink: #FA6980;
    --color-red:#FF4D4D;

    /* Variable Font Size */  
    --normal-font-size:24px;
    --middle-font-size:16px;
    --small-font-size:13px;
    --smaller-font-size:11px;
}
