@import "../shared/reset";
@import "../shared/variable.scss";
@import "../shared/header";
@import "../shared/footer.scss";
@import "../shared//mobile-menu.scss";

/* news Section*/
.ul-project-page {
  display: flex;
  width: 100%;
  height: 600px;
  background-image: url("../../images/background-img.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  background-color: #fff;

  &__news {
    display: flex;
    height: 100%;
  }

  &__left {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 55%;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__right {
    background-color: var(--color-white);
    width: 45%;
    padding: 100px;
    padding-right: 0;
  }

  &__worldnews {
    color: var(--color-white);

    &__items {
      //TODO:DO
    }
    &__title {
      color: var(--color-white);
      font-size: var(--normal-font-size);
      font-weight: bold;
      font-family: Helvetica, sans-serif;
      text-transform: uppercase;
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 2px solid var(--color-white);
    }
    &__subtitle {
      color: var(--color-white);
      font-size: var(--normal-font-size);
      font-weight: bold;
      font-family: Helvetica, sans-serif;
      line-height: 20px;
      margin-bottom: 10px;
    }
    &__paragraph {
      color: var(--color-white);
      font-size: var(--middle-font-size);
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      line-height: 26px;
      width: 560px;
      margin-bottom: 30px;
    }
    &__btn {
      cursor: pointer;
      color: var(--color-white);
      background-color: var(--color-pink);
      font-size: var(--smaller-font-size);
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      text-transform: uppercase;

      width: 134px;
      height: 40px;
      border: none;
      border-radius: 6px;
      padding: 15px 30px;
      transition: color 0.2s ease-in;

      &:hover {
        color: var(--color-pink);
        background: var(--color-white);
      }
    }
  }

  &__morenews {
    width: 100%;
    font-size: var(--normal-font-size);
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ebeded;
    display: flex;
    justify-content: space-between;

    h1 {
      color: var(--color-black);
      font-size: var(--normal-font-size);
      font-weight: bold;
      font-family: Helvetica, sans-serif;
      text-transform: uppercase;
    }

    &__arrow {
      cursor: pointer;
      &--prev {
        opacity: 0.3;
        margin-right: 40px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
    }
    &__title {
      color: var(--color-pink);
      font-size: var(--middle-font-size);
      font-weight: bold;
      font-family: Helvetica, sans-serif;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__subtitle {
      color: var(--color-black);
      font-size: var(--middle-font-size);
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 10px;
    }
    &__paragraph {
      color: var(--color-medium-grey);
      font-size: var(--middle-font-size);
      font-family: "AcuminProRegular";
      line-height: 26px;
    }
    &__time {
      margin-bottom: 40px;
      margin-top: 10px;
      color: var(--color-medium-grey);
      display: flex;
      font-size: var(--small-font-size);
      font-family: Helvetica;
      font-style: oblique;
      img {
        margin-right: 10px;
      }
    }
  }

  &__header {
    display: none;
    align-items: center;
    justify-content: space-between;
    background: var(--color-background);
    height: 45px;
    padding: 0 16px;
    &__user {
      width: 16px;
      height: 16px;
      img {
        width: 100%;
      }
    }

    &__logo {
      color: var(--color-medium-grey);
      font-size: 13px;
      font-family: Helvetica, sans-serif;
      font-weight: bold;
    }

    &__menu {
      width: 16px;
      height: 16px;
      img {
        width: 100%;
      }
    }
  }
}

/* Trending Section*/
.ul-project-page__trending {
  margin: 40px 0;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    background-color: var(--color-white);
    border-radius: 6px;
    overflow: hidden;

    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__other {
    padding: 40px;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__time {
    color: var(--color-medium-grey);
    font-size: var(--small-font-size);
    display: flex;
    img {
      padding-right: 10px;
    }

    font-family: Helvetica, sans-serif;
    font-style: oblique;
  }

  &__subtitle {
    font-size: var(--middle-font-size);
    line-height: 20px;
    font-weight: bold;
    color: var(--color-black);
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
  }

  &__paragraph {
    font-size: var(--small-font-size);
    line-height: 23px;
    color: var(--color-medium-grey);
    margin-bottom: 10px;
    font-family: "AcuminProRegular";
    font-weight: 300;
  }
}

/* Happening Section*/
.ul-project-page__happening__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  h1 {
    text-transform: uppercase;
    font-size: var(--normal-font-size);
    font-weight: bold;
    color: var(--color-black);
    line-height: 20px;
    font-family: Helvetica, sans-serif;
  }
}

.ul-project-page__container {
  display: flex;
  margin-bottom: 100px;

  &__left {
    margin-right: 20px;
  }

  &__city {
    margin-bottom: 40px;
    position: relative;
  }

  &__travel {
    position: relative;
  }

  &__image {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    position: absolute;
    top: 40px;
    left: 40px;
    color: var(--color-white);
    text-transform: uppercase;
    font-size: var(--middle-font-size);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
  }

  &__content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    color: var(--color-white);
  }

  &__subtitle {
    font-size: var(--normal-font-size);
    color: var(--color-white);
    line-height: 34px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
  }

  &__paragraph {
    font-size: var(--middle-font-size);
    line-height: 26px;
    margin-bottom: 30px;
    font-family: Helvetica, sans-serif;
    // font-weight: 300;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }

  &__time {
    color: var(--color-light-grey);
    font-size: var(--small-font-size);
    font-family: Helvetica, sans-serif;
    font-style: oblique;
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__arrow {
    cursor: pointer;
    &--left {
      opacity: 0.4;
      margin-right: 40px;
    }
  }
}

.ul-project-page__item {
  &__image {
    img {
      width: 100%;
    }
  }
  &__title {
    color: var(--color-black);
    font-weight: bold;
    font-size: var(--middle-font-size);
    line-height: 26px;
    font-family: Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@import "../shared/responsive.scss";
