/* Header */
.ul-project-header {
  display: flex;
  background: var(--color-background);
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
}
.ul-project-header__left {
  display: flex;
  align-items: center;
}
.ul-project-header__right {
  display: flex;
  align-items: center;
}
.ul-project-header__logo {
  display: flex;
  align-items: center;
  font-family: Helvetica, sans-serif;
}
.ul-project-header__logo a {
  color: var(--color-pink);
  font-size: var(--small-font-size);
  font-weight: bold;
}
.ul-project-header__navigation {
  height: 100%;
}
.ul-project-header__navigation__content {
  display: flex;
  height: 100%;
}
.ul-project-header__navigation__item {
  display: flex;
  height: 100%;
}
.ul-project-header__navigation__item a {
  color: var(--color-medium-grey);
  font-size: var(--smaller-font-size);
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 11px;
  transition: color 0.2s ease-in;
}
.ul-project-header__navigation__item a.active {
  color: var(--color-dark-grey);
}
.ul-project-header__navigation__item a:hover {
  color: var(--color-dark-grey);
}
.ul-project-header__user {
  width: 30px;
  margin-left: 29px;
  border-radius: 50%;
  overflow: hidden;
}
.ul-project-header__user img {
  width: 100%;
}