@media (max-width: 1200px) {
  .ul-project-container {
    width: 100%;
    padding: 0 80px;
    margin: 0;
    max-width: unset;
  }

  .ul-project-container--news {
    padding: 0;
  }

  .ul-project-page {
    background-position: top;
    background-size: cover;
    height: auto;
  }

  .ul-project-page__news {
    flex-direction: column;
  }

  .ul-project-page__morenews__content {
    flex-direction: row;
  }

  .ul-project-page__right {
    width: 100%;
    padding: 80px;
    padding-top: 40px;
  }

  .ul-project-page__left {
    width: 100%;
  }

  .ul-project-page__worldnews {
    padding: 80px;
    width: 100%;
  }

  .ul-project-page__worldnews__paragraph {
    width: 100%;
  }

  .ul-project-page__morenews__time {
    margin-bottom: 0;
  }

  .ul-project-page__morenews__travel {
    margin-right: 40px;
  }

  .ul-project-page__trending__item {
    width: 50%;
    margin-right: 0;
  }
  .ul-project-page__trending__item:first-child {
    margin-right: 40px;
  }
  .ul-project-page__trending__item:last-child {
    display: none;
  }

  .ul-project-page__container {
    flex-direction: column;
  }

  .ul-project-page__container__left {
    margin-right: 0;
  }

  .ul-project-page__container__right {
    margin-left: 0;
    flex-direction: row;
  }

  .ul-project-page__container__item:first-child {
    margin-right: 40px;
  }
  .ul-project-page__container__item:last-child {
    display: none;
  }

  .ul-project-page__container__travel {
    margin-bottom: 40px;
  }

  .ul-project-footer {
    height: 316px;
  }

  .ul-project-footer__content {
    flex-direction: column;
  }

  .ul-project-footer__left {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .ul-project-footer__right {
    width: 100%;
    align-items: flex-end;
  }

  .ul-project-about__news {
    height: 800px;
    flex-direction: column;
  }
  .ul-project-about__news__section-content {
    padding: 0 80px;
  }
  .ul-project-about__blog {
    flex-direction: column;
  }
  .ul-project-about__blog__user {
    width: 60%;
    margin-bottom: 40px;
  }
  .ul-project-about__aricle__text {
    width: 100%;
  }
}
@media (max-width: 769px) {
  .ul-project-header__navigation {
    display: none;
  }

  .ul-project-container {
    padding: 0 24px;
  }

  .ul-project-container--news {
    padding: 0;
  }

  .ul-project-page__morenews__content {
    flex-direction: column;
  }

  .ul-project-page__morenews__travel {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .ul-project-page__right {
    padding: 24px;
    padding-top: 40px;
  }

  .ul-project-page__worldnews {
    padding: 40px 24px;
    width: 100%;
  }

  .ul-project-page__trending__items {
    flex-direction: column;
  }

  .ul-project-page__trending__item {
    width: 100%;
  }
  .ul-project-page__trending__item:first-child {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .ul-project-page__trending__other {
    padding: 32px 24px;
  }

  .ul-project-page__container__title {
    left: 24px;
    top: 32px;
  }

  .ul-project-page__container__content {
    bottom: 32px;
    left: 24px;
    right: 24px;
  }

  .ul-project-page__container__city {
    overflow: hidden;
    border-radius: 6px;
    height: 300px;
  }

  .ul-project-page__container__travel {
    overflow: hidden;
    border-radius: 6px;
  }

  .ul-project-page__container__image {
    height: 300px;
  }
  .ul-project-page__container__image img {
    height: 100%;
    object-fit: cover;
  }

  .ul-project-page__container__right {
    margin-left: 0;
    flex-direction: column;
    border-top: 2px solid #ebeded;
    padding-top: 40px;
  }

  .ul-project-page__container__item {
    margin-bottom: 40px;
  }
  .ul-project-page__container__item:first-child {
    margin-right: 0;
  }
  .ul-project-page__container__item:last-child {
    display: block;
    margin-bottom: 0;
  }

  .ul-project-mobile-menu {
    display: flex;
  }

  .ul-project-footer {
    display: none;
  }

  .ul-project-header {
    display: none;
  }

  .ul-project-page__header {
    display: flex;
  }

  .ul-project-about {
    padding-top: 0;
  }
  .ul-project-about__header {
    padding-top: 16px;
    margin-bottom: 16px;
  }
  .ul-project-about__breadcrumb {
    display: none;
  }
  .ul-project-about__back {
    display: block;
  }
  .ul-project-about__filter {
    width: 16px;
    height: 16px;
    border: none;
  }
  .ul-project-about__news {
    margin-left: -24px;
    margin-right: -24px;
    width: auto;
  }
  .ul-project-about__news__section-content {
    padding: 0 14px;
  }
  .ul-project-about__blog {
    flex-direction: column;
  }
  .ul-project-about__blog__user {
    width: 100%;
  }
  .ul-project-about__blog__items {
    flex-direction: column;
  }
  .ul-project-about__blog__item {
    margin-bottom: 40px;
  }
}