/* Responsive */
@media (max-width: 1024px) {
  /* Wordl News Section*/
  .ul-project-page__worldnews__title {
    font-size: var(--middle-font-size);
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .ul-project-page__worldnews__subtitle {
    font-size: var(--middle-font-size);
  }
  .ul-project-page__worldnews__paragraph {
    font-size: var(--small-font-size);
    line-height: 18px;
    max-width: 460px;
    padding-right: 20px;
  }
  .ul-project-page__worldnews__btn {
    padding: 10px 20px;
    font-size: var(--small-font-size);
  }

  /* More News Section */
  .ul-project-page {
    display: flex;
    width: 100%;
  }
  .ul-project-page__left {
    background-image: url("/images/background-img.png");
    width: 59%;
    height: 400px;
  }
  .ul-project-page__right {
    padding: 80px;
  }
  .ul-project-page__morenews {
    max-width: 380px;
    width: 100%;
    font-size: var(--middle-font-size);
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ebeded;
  }
  .ul-project-page__morenews__title {
    font-size: var(--small-font-size);
    color: var(--color-pink);
    margin-bottom: 16px;
  }
  .ul-project-page__morenews__subtitle {
    font-size: var(--middle-font-size);
    line-height: 12px;
  }
  .ul-project-page__morenews__paragraph {
    color: var(--color-medium-grey);
    font-size: var(--middle-font-size);
    line-height: 18px;
  }
  .ul-project-page__morenews__time {
    height: 16px;
    width: 16px;
    margin-right: 15px;
  }

  .ul-project-page__happening__time {
    font-size: var(--small-font-size);
  }
}
@media (max-width: 769px) {
  /* Wordl News Section*/
  .ul-project-page {
    flex-direction: column;
    align-items: center;
  }
  .ul-project-page__container {
    display: flex;
  }
  .ul-project-page__left {
    width: 100%;
  }
  .ul-project-page__right {
    width: 100%;
  }
  .ul-project-page__wordlnews {
    width: 50%;
  }
  .ul-project-page__wordlnews__title {
    font-size: var(--normal-font-size);
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid #fff;
  }
  .ul-project-page__wordlnews__subtitle {
    font-size: var(--normal-font-size);
  }
  .ul-project-page__wordlnews__paragraph {
    font-size: var(--middle-font-size);
    line-height: 26px;
    max-width: 560px;
    padding-right: 30px;
  }
  .ul-project-page__wordlnews__btn {
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: var(--color-pink);
    color: var(--color-white);
    cursor: pointer;
  }

  /* Trending Section */
  .ul-project-page__trending__item:last-child {
    display: none;
  }
}